.embedim-snow {
    background-image: initial !important;
    background-color: white!important;
}

* {
    font-family: Inter, sans-serif!important;
}
cbUpdateNotification alert alert-danger {
  display: none!important;
}
